
body {

	max-width: 1000px;
	margin: auto;
}


.title1 {
	padding-top: 30px;
	color: #006A8A;
	font-family: Helvetica;
	font-size: 40px;
}


.title2 {
	padding-top: 60px;
	padding-bottom: 20px;
	color: #006A8A;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 30px;
}

.title3 {
	padding-top: 60px;
	padding-bottom: 20px;
	color: #006A8A;
	font-family: Helvetica;
	font-size: 30px;
}

.text {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #006A8A;
	font-family: Helvetica;
	font-size: 20px;
}

.textContainer {
	background-color: #f2f2f2;
	padding:30px;
	padding-top: 0px;
}

.visible {
	height: auto;
	width: 100%;
}

.hidden {
	overflow: hidden;
	height: 0;
	width: 0;
}

.btn {
	min-width: 140px;
	margin-top: 15px;
	font-family: Helvetica;
	font-size: 20px;
	padding:10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0px;
	border:none;
	background-color: white;
}
.btn.selected {
	font-weight: bold;
	background-color: #f2f2f2;
}

.code {
	background-color: #f2f2f2;
}

.btn:focus {
	outline:0;
}


.menuButton {

	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

	text-decoration: none;
	text-align: center;
	padding-top: 15px;
	font-weight: bold;

	border-radius: 7px;

	min-width: 140px;
	min-height: 35px;
	margin: 10px;
	margin-top: 30px;

	font-family: Helvetica;
	font-size: 20px;
	color: #006A8A;
	background-color: #f2f2f2;

	transition: 0.2s;

}

.menuButton:hover {
	transition: 0.2s;
	background-color: #ffffff;
}